{% for item in items %}
    <li>
        <a href="{{ full_url(item.url) }}">{{ item.title }}</a>
        {% if item.children|length > 0 %}
            <ul class="dropdown">
                {% include "Marathon/Views/nav_loop.html.twig" with {'items': item.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}