<div class="menu_block">
    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
        <ul class="sf-menu">
            {% include "Marathon/Views/nav_loop.html.twig" with {'items':navigation.items} only %}
        </ul>
    </nav>
    <div class="clear"></div>
</div>